/* Configure default elements */
a {
    color: #1a7ea7;
}

a:hover {
    color: #0a3d4c;
}

p {
    margin-bottom: 10px;
}

button {
    float: left;
    color: #FFF;
    background-color: #1a7ea7;
    border: 1px solid #1a7ea7;
    padding: 5px;
    cursor: pointer;
}

button:disabled {
    cursor: inherit;
    background-color: #EEE;
    border: 1px solid #EEE;
}

button.next {
    float: right;
}

/* Session blocks */
.session {
    flex: 1;
    margin-bottom: 15px;
}

.full-content {
    min-width: 100%;
}

.session h1{
    color: #1a7ea7;
    font-weight: 400;
}

.session span {
    font-weight: 400;
}

.committe {
    margin-left: 15px;
}

/* List */
.list ul {
    margin-bottom: 15px;
}

.list ul li {
    list-style: none;
}

.events {
    margin-left: 15px;
}

/* Gallery */
.gallery {
    margin-right: auto;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery ul li {
    list-style: none;
    margin-bottom: 15px;
}

.gallery img {
    max-width: 150px;
}