/* Configure default elements */
a {
    color: #1a7ea7;
}

a:hover {
    color: #0a3d4c;
}

p {
    margin-bottom: 0px;
}

button {
    float: left;
    color: #FFF;
    background-color: #1a7ea7;
    border: 1px solid #1a7ea7;
    padding: 5px;
    cursor: pointer;
}

button:disabled {
    cursor: inherit;
    background-color: #EEE;
    border: 1px solid #EEE;
}

button.next {
    float: right;
}

/* Session blocks */
.session {
    margin-bottom: 15px;
    display: inline-block;
}

.session * b, .session * strong {
	font-weight: bold;
}

.full-content {
    min-width: 100%;
}

.session h1{
    color: #1a7ea7;
    font-weight: 400;
}

.session span {
    font-weight: 400;
}

.committe {
    margin-left: 15px;
}

/* List */
.list ul {
    margin-bottom: 0px;
    width: 95%;
}

.list ul li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
}

.list ul.signal li {
	display: inline-block;
}

.events {
	width: 48%;
    margin-left: 1%;
}

/* Gallery */
.gallery {
	width: 48%;
    margin-right: auto;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery ul li {
    list-style: none;
    margin-bottom: 15px;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
}

.gallery ul li a {
   display: inline-block;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 5px;
   transition: 0.3s;
}

.gallery ul li a:hover {
   box-shadow: 0 0 2px 1px rgba (0, 140, 186, 0.5);
}

.gallery ul li a img {
   max-width: 100%;
   max-height: 100%;
   border-radius: 8px;
}

@media (max-width: 600px) {
	.gallery, .session, .events, .committe {
		width: 100%;
        margin: 0;
    }
}
