/* Import custom fonts */
@import
	'https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400'
	;

/* Reset margin and padding and configure default font */
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	font-weight: 300;
}

html, body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Open Sans";
	padding: 0px;
	margin: 0px;
	height: 100%;
	display: block;
}

.container {
	position: relative;
	min-height: 100%;
}

/*********************************************
 * Header
 *********************************************/
.wrap-header {
	background-color: #083547;
}

.header {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.header menu {
	list-style: none;
	display: flex;
	margin-right: auto;
	flex-wrap: wrap;
}

.header menu li {
	vertical-align: middle;
}

.header menu li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.header menu li:hover {
	background-color: #1a7ea7;
	color: white;
}

.header menu li.active {
	background-color: #1a7ea7;
	color: white;
}

.header .flags {
	display: flex;
	align-content: center;
	justify-content: center;
}

.header .flags a {
	align-self: center;
	margin-right: 15px;
}

/*********************************************
 * Title
 *********************************************/
.image-container {
	background-repeat: repeat;
	background-color: #1a7ea7;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	color: white;
}

.image-container img.logo {
	width: 25em;
	max-width: 95%;
}

.image-container h1 {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

/*********************************************
 * Content
 *********************************************/
.content {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.content h1 {
	font-size: 16pt;
	font-weight: 400;
	margin-bottom: 8px;
	margin-top: 8px;
	color: #1a7ea7;	
}

.content p {
	line-height: 1.5;
	margin-bottom: 12px;
}

.content .box-container {
	text-align: center;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.content .box-container .box {
	background-size: 100% 100%;
	flex: 1;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255, 225, 225, .5);
	color: white;
}

.content .box-container .box:nth-child(2) {
	margin: 0 15px;
}

.content .box-container .box h1 {
	font-size: large;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: #1a7ea7;
	padding-bottom: 5px;
}

.content .box-container .box p {
	font-size: medium;
	text-align: center;
	line-height: 1.5;
	color: black;
}

.content .box-container .box a {
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
	text-shadow: none;
}

/*********************************************
 * Footer
 *********************************************/
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px; /* Height of the footer */
	color: #666;
}

.footer p {
	background-color: transparent;
	border-top: 1px solid #AAA;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	padding: 5px;
	width: 90%;
}

/*********************************************
 * Team
 *********************************************/
.team {
	flex: 1;
	display: block;
	text-align: center;
}

.team .role-group {
	display: block;
}

.team .role-group h1 {
	font-size: x-large;
}

.team .role-group figure {
	background-color: transparent;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	height: 150px;
	padding: 5px;
	vertical-align: top;
}

.team .role-group figure img {
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 100%;
}

.team .role-group figure figcaption {
	text-align: center;
	width: 100%;
	bottom: 0px;
	color: #333333;
	font-weight: bold;
	height: 40px;
	display: block;
	font-size: 10pt;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

/*********************************************
 * Contact
 *********************************************/
.contact {
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.contact ul, .contact iframe {
	vertical-align: top;
	margin-top: 10px;
	flex: 1;
}

.contact ul {
	display: inline-block;
	padding: 10px;
	padding-top: 0px;
	background-color: rgba(200, 200, 200, 0.45);
	border-radius: 10px;
	height: 250px;
}

.contact ul li {
	padding: 0px;
	display: block;
	text-align: left;
	padding-left: 40px;
	background-position: left top;
	font-size: medium;
	margin-top: 10px;
	min-height: 24px;
}

.contact ul li.title {
	padding-left: 0px;
}

.contact ul li.email {
	background-image: url("../images/email.png");
	background-repeat: no-repeat;
}

.contact ul li.phone {
	background-image: url("../images/phone.png");
	background-repeat: no-repeat;
}

.contact ul li.address {
	background-image: url("../images/address.png");
	background-repeat: no-repeat;
	line-height: 1.5;
}

.contact .map {
	width: 45%;
	border: 0px;
	display: inline-block;
	border: 5px solid white;
	border-radius: 10px;
	height: 250px;
}

@media ( max-width : 600px) {
	.header menu {
		margin-top: 15px;
		width: 100%;
	}
	.header menu li {
		width: 100%;
	}
	.header .flags {
		margin: 15px 0;
	}
	.content .box-container .box {
		margin-top: 15px;
	}
	.content .box-container .box:nth-child(2) {
		margin: 0 15px;
		margin-top: 15px;
	}
}