body {
  margin: 0;
  font-family: "Open Sans";
}
.content-wrapper {
  padding-top: 20px;
  max-width: 1000px;
  width: 97%;
  min-height: 57vh;
  width: calc(100% - 20px);
  margin: auto;
  font-weight: 300;
}
.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3 {
  font-size: 24px;
  margin: 8px 0;
}
.header {
  background: #1a7ea7;
  text-align: center;
  padding: 20px;
}
.header .logo img {
  width: 400px;
  max-width: 95%;
}
.header .subtitle {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 16px;
}
.navbar {
  background: #083547;
}
.navbar .nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
.navbar .nav {
  margin-right: auto;
}
.navbar .languages {
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.navbar li.nav-item a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.navbar li.nav-item:hover,
.navbar li.nav-item.is-active {
  background: #1a7ea7;
}
.navbar div.language {
  margin-right: 15px;
}
.navbar div.language a {
  display: flex;
  align-content: center;
}
.footer {
  text-align: center;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #f5f5f5;
}
.sponsor {
  display: inline-block;
  padding: 10px 20px;
}
.sponsor .sponsor-text {
  text-align: left;
  color: #666;
  font-weight: bold;
}
.sponsor .sponsor-text::after {
  content: ":";
}
.sponsor .sponsor-image img {
  height: 65px;
}
.after-footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  padding: 10px;
  min-height: 15px;
  display: flex;
  flex-flow: wrap;
}
.after-footer .left,
.after-footer .right {
  flex: 1;
  min-width: 150px;
}
.after-footer .right {
  text-align: right;
}
/* RESET */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #1a7ea7;
}
/* HELPERS */
.has-small-text {
  font-size: small;
}
.has-text-white {
  color: #fff;
}
