.team {
  text-align: center;
  margin-top: -30px;
}
.role {
  display: inline-block;
  margin: 25px;
}
h1.role-name {
  font-size: 24px;
}
.person {
  display: inline-block;
  width: 100px;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
}
.person-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
