<div class="footer">

	<div class="images-group">

		<div class="images financial-support">
      <div class="image-label">{{ site.financial[site.active_lang] }}:</div>
			<a href="http://ifsp.edu.br">
        <img src="/images/sponsor/ifsp.png"></img>
      </a>
		</div>

		<div class="images sponsor">
      <div class="image-label">{{ site.sponsor[site.active_lang] }}:</div>
			<a href="http://github.com">
        <img src="/images/sponsor/github.png"></img>
      </a>
		</div>

		<div class="images support">
      <div class="image-label">{{ site.support[site.active_lang] }}:</div>
			<a href="http://caraguatatuba.sp.gov.br">
        <img src="/images/sponsor/caragua.png"></img>
      </a>
		</div>

	</div>

	<div class="text">
		<p class="left"><span class="copyleft">&copy;</span> 2016 DeepLIBRAS</p>
		<p class="right">Última atualização: 23 de outubro de 2016</p>
	</div>
</div>
</body>
