<div class="footer">

  <div class="images-group">

    <div class="images financial-support">
      <div class="image-label">{{ site.data.lang.financial[site.active_lang] }}:</div>
      <a href="http://ifsp.edu.br">
        <img src="/images/sponsor/ifsp.png"></img>
      </a>
    </div>

    <div class="images sponsor">
      <div class="image-label">{{ site.data.lang.sponsor[site.active_lang] }}:</div>
      <a href="http://github.com">
        <img src="/images/sponsor/github.png"></img>
      </a>
    </div>

    <div class="images support">
      <div class="image-label">{{ site.data.lang.support[site.active_lang] }}:</div>
      <a href="http://caraguatatuba.sp.gov.br">
        <img src="/images/sponsor/caragua.png"></img>
      </a>
    </div>

  </div>

  <div class="text">
    <p class="left"><span class="copyleft">&copy;</span> 2016 DeepLIBRAS</p>
    <p class="right">{{ site.data.lang.last_update[site.active_lang] }}: {% include date.html date=site.updated_at %}</p>
  </div>
</div>
</body>
</html>
