<div class="image-container">
  <img class="logo" src="/images/deeplibras-white.png" alt="DeepLIBRAS"></img>
  <h1>{{ site.data.lang.subtitle[site.active_lang] }}</h1>
</div>

<div class="wrap-header">
  <div class="header">

    <nav>
      {% for nav in site.nav  %}
        {% assign item = nav %}
        {% assign pages = site.pages | where: 'permalink', item %}
        {% for node in pages %}
          {% if page.url == node.url %}
            <li class="active">
          {% else %}
            <li>
          {% endif %}
          {% if node.title contains 'pt' %}
            <a href="{{ node.url }}" title="{{ node.title[site.active_lang] }}" accesskey="{{ node.title[site.active_lang] }}">{{ node.title[site.active_lang] }}</a>
          {% else %}
            <a href="{{ node.url }}" title="{{ node.title }}" accesskey="{{ node.title }}">{{ node.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    </nav>

    <div class="flags">
      <!-- TODO: Need to be rewrite -->
      {% for language in site.languages %}
        <a {% if language == site.active_lang %}
        style="font-weight: bold;"{% endif %} href="
        {% if language == site.default_lang %}
        {{site.baseurl}}{{page.url}}
        {% else %}
        {{site.baseurl}}/{{ language }}{{page.url}}
        {% endif %}">
          <img src="/images/icon/{{ language }}.png" alt="{{ language }}" height="24" width="24" />
        </a>
      {% endfor %}
    <a href="../{{ language }}/"></a>
  </div>
</div>
</div>
