{% include head.html %}

<div class="container">
  {% include header.html %}

  <main class="content" aria-label="Content">
    <div class="session information">
      <div class="list">
        {% contentblock address %}
      </div>
    </div>

    <div class="session list committe" >
      <div class="list">
        {% contentblock committe %}
      </div>
    </div>

    <div class="session list">
      {% contentblock signals %}
    </div>

    <div class="session full-content">
      {% contentblock support %}
    </div>
  </main>

  {% include footer.html %}
